.comments {
    width: 660px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e4e6e8;
    table {
      width: 100%;
    }
}

tr.comment>td {
    padding: 6px 3px 6px 3px;
    vertical-align: top;
    line-height: 1.3;
    border-bottom: 1px solid #eff0f1;
}

.comment-actions {
    width: 10px;
    font-size: 12px;
    a {
      color: #848d95;

    }
}

.comment-text {
    font-size: 13px;
    line-height: 1.3;
}

a.comment-user {
    white-space: nowrap;
    padding: 0;
}

.comment-date {
    border-bottom: none;
    color: #9199a1;
}

.comment-form {
    padding-top: 6px;
    vertical-align: text-top;
    display: none;
}

.comment-link-form {
    padding-top: 6px;
    vertical-align: text-top;
    a {
      color: #848d95;
      opacity: .6;
      text-decoration: none;
      font-size: 14px;
    }
}

.comment-form>form textarea {
    resize: vertical;
    box-shadow: 0 1px 2px rgba(12, 13, 14, 0.1) inset;
    padding: 8px 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    color: #3b4045;
    background: #FFF;
    border: 1px solid #c8ccd0;
}

.comment-form > form input {
    margin-left: 10px;
    margin-top: 1px;
    background-color: #0095ff;
    border-color: #07c;
    padding: .61538462em 1em;
    min-height: 2.46153846em;
    line-height: 1;
}
.comment-form > form input:hover {
  background-color: #337ab7;
}

.cool, .mini-counts.cool {
  color: #9199a1;
}

.text-counter {
  margin-right: 20px;
  font-size: 12px;
}

.form-error {
  margin-right: 20px;
  font-size: 12px;
}
