.session {
  box-sizing: border-box;
  &__header {
    border-bottom: 1px solid #e4e6e8;
    clear: both;
    padding: 2px 0px;
    h2 {
      font-weight: 400;
      color: #3b4045;
      font-size: 22px;
      margin-bottom: 5px;
    }
  }
  &__form {
    margin-top: 15px;
  }
}
