body {
   background-color: white;
   padding-top: 60px;
 }

.navbar-default {
   background-color: #fafafb;
   border-top: 3px solid #F48024 /* #F48024 */ ;
}

.navbar-nav > .current {
  border-bottom: 2px solid #F48024;
}

.navbar-nav > li > a.avatar {
  padding-top: 7px;
  padding-bottom: 7px;
  img {
    width: 35px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.vt {
  vertical-align: top;
}

.votecell {
  vertical-align: top;
}
