.user-signature {
  background-color: #E0EAF1;
  padding-top: 2px;
  padding-left: 4px;
  width: 200px;
  border: 1px solid #E0EAFF;
}

.user-action-time {
  margin-top: 1px;
  margin-bottom: 4px;
  margin-left: 2px;
  font-size: 12px;
  white-space: nowrap;
  color: #848d95;
}

.user-details {
  font-size: 12px;
  margin-left: 2px;
}
