<table>
  <tbody>
    <tr>
      <td>
        <%# unless votable.voted_by? current_user %>
        <%= link_to c_url_path, method: :post do %>
          <span class='glyphicon glyphicon-triangle-top'></span>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <span><%= votable.votes.count %></span>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to d_url_path, method: :delete do %>
          <span class='glyphicon glyphicon-triangle-bottom'></span>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
